html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--colorBackground);
  color: var(--colorPrimary);
  font-family: 'Playfair Display Webfont', 'Georgia', serif;
  line-height: 1.6;
}

abbr {
  font-family: 'Playfair Display SC Webfont', 'Georgia', serif;
  font-variant: small-caps;
}

body code,
body kbd,
body samp {
  font-family: 'Fira Code', 'Operator', 'Hasklig', 'Monoid', monospace;
}

/* ===================================
 * Georgia is the fallback font during
 * loading. As it is wider it needs to
 * be set in font-weight 400.
   ==================================*/
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6 {
  font-weight: 400;
}
