/* stylelint-disable plugin/stylelint-no-indistinguishable-colors */
.grvsc-container {
  --grvsc-line-highlighted-background-color: rgba(255, 255, 255, 0.2);
  --grvsc-line-highlighted-border-color: rgba(255, 255, 255, 0.5);
  --grvsc-line-highlighted-border-width: 2px;
}
